BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
AlwaysBreakAfterReturnType: TopLevelDefinitions
BinPackArguments: false
BinPackParameters: false
AccessModifierOffset: -4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Always
  BeforeElse: true
